<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
   <title>Device Register</title>  
    {% load staticfiles %}  
    <link rel="stylesheet" href="{% static '/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/device">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Enter Device Details</h3>  
    </div>  
  </div>  
      {{user.username}}
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Device Name:</label>  
    <div class="col-sm-4">  
      {{ form.devicename }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Device Model:</label>  
    <div class="col-sm-4">  
      {{ form.devicemodel }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Device Description:</label>  
    <div class="col-sm-4">  
      {{ form.devicedsc }}  
    </div>  
  
    
   </div> 
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">Submit</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  